body {
  font-size: 16px;
}

pre, code, kbd, samp {
  font-family: var(--vp-font-family-mono);
}

.vp-doc h2 {
  margin: 15px 0 16px;
  padding-top: 10px;
  border-top: none;
}

.VPDoc .content-container img {
  border-radius: 5px;
}

/* slim scroll bar for windows based web browsers - works on chrome, edge, and safari */
::-webkit-scrollbar {
      width: 3px;
        height: 3px;
        
}

/* scrolling track/backgronund color */
::-webkit-scrollbar-track {
      background: #3b3b3b;
      
}

/* scrolling handle */
::-webkit-scrollbar-thumb {
      background: #42b883;
      
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #36986c;
      
}
