/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    315deg,
    #42d392 25%,
    #647eff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #42d392 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}


/**
 * Component: Badge
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-badge-type-warning: #e7c000;
  --vp-c-badge-type-tip: #42b983;
  --vp-c-badge-type-error: #da5961;
  --vp-c-badge-type-info: #0170fe;
}